* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 50px;
    width: 50px;
}

ul {
    display: none;
}

.mostrar {
    display: block;
}


hr {
    border: 2px solid orange;
    margin: 40px;
}

.lista {
    display: block;
    font-size: 20px;
    color: black;
}